node_modules
build
npm-debug.log
.idea
.git
.DS_Store
docs
.adr-dir
.env.template
.editorconfig
storybook-static
Dockerfile
Dockerfile.dev
docker-compose.dev.yml
docker-compose.prod.yml
.dockerignore
.gitignore

